<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidbook.OpenGL"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" 
              android:label="OpenGL Test Harness"
              android:debuggable="true">
        <activity android:name=".TestOpenGLMainDriverActivity"
                  android:label="OpenGL Test Harness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	<activity android:name="MultiViewTestHarnessActivity"
                  android:label="OpenGL MultiView Test Harness"/>
                  
    <activity android:name="OpenGL20MultiViewTestHarnessActivity"
                  android:label="OpenGL MultiView Test Harness"/>
                  
    <uses-feature android:glEsVersion="0x00020000" />   
    </application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 