<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ai.android.testmenus"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="Test Manus App">
        <activity android:name=".SampleMenusActivity"
                  android:label="Test Menus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name=".XMLMenusActivity"
    	    android:label="Test XML and PopupMenus"/>        
    </application>
</manifest> 