<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ai.android.testintents"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="Test Intents">
        <activity android:name=".MainActivity"
                  android:label="Test Intents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicViewActivity"
                  android:label="Basic View Tests">
         <intent-filter>
           <action android:name="com.androidbook.intent.action.ShowBasicView"/>
           <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
        </activity>
    </application>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
</manifest> 