<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidbook.search.nosearch">
      
    <application android:icon="@drawable/icon" android:label="Test Activity QSB Interaction">
        <activity android:name=".RegularActivity"
                  android:label="Activity/QSB Interaction:Regular Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	<activity android:name=".NoSearchActivity"
                  android:label="Activity/QSB Interaction::Disabled Search">
    </activity>
                  
	<activity android:name=".SearchInvokerActivity"
                  android:label="Activity/QSB Interaction::Search Invoker">
    </activity>
    
	<activity android:name=".LocalSearchEnabledActivity"
                  android:label="Activity/QSB Interaction::Local Search">
    	<meta-data android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
    </activity>
    
	<activity android:name=".SearchActivity"
                  android:label="Activity/QSB Interaction::Search Results">
		  <intent-filter>
		      <action android:name="android.intent.action.SEARCH" />
		      <category android:name="android.intent.category.DEFAULT" />
		   </intent-filter>
		  <meta-data android:name="android.app.searchable"
	            android:resource="@xml/searchable" />
    </activity>
	<meta-data android:name="android.app.default_searchable"
            android:value="*" />
	</application>
    <uses-sdk android:minSdkVersion="4" />
</manifest> 