<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidbook.library.testlibrary"
      android:versionCode="1"
      android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="3" />
    <application android:icon="@drawable/icon" 
         android:label="Test Library Project">
        <activity android:name=".TestLibActivity"
                  android:label="Test Library Helloworld Activity">
        </activity>
    </application>        
    
</manifest> 