<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidbook.stockquoteservice"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">


    <service android:name="StockQuoteService">
    	<intent-filter>
    		<action android:name="com.androidbook.stockquoteservice.IStockQuoteService" />
    	</intent-filter>
    </service>
    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 